body{
    background-color: black;
    
    }
    
    /*header*/
    
    header{
    
        display: flex;
        justify-content: space-around;
        height: 100px;
        align-items: center;
    }

    
    header nav{
        width: 60%;
    }
    
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    
    }
    
    header nav ul li{
       list-style-type: none;
        margin-left: 60px;
    
    }
    
    header nav ul  a{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color:#fff; 
        text-decoration:none;
     }
    
     header nav ul  a :hover{
        color: #FF2C1F;
        
     }
    
    /* Imagen Logo */
    
    #platinum-logo{
        cursor: pointer;
    }
    /*main*/

    main{
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }

    #banner{
        width: 100%;
    }

    #banner figure{
        margin: 0; 
    }

    #banner figure img{
        width: 100% 
    }

    #content{
        display: flex;
        justify-content: space-between;
        flex-direction: row
    }

    #movie-info{
        width: 262px;
        margin-left: 200px;
        margin-top: -280px;
        margin-right: 150px;
       
    }

    #movie-info figure{
        margin: 0;
    }

    #movie-info figure img{
        width: 262px;
        margin-bottom: 40px; 
        
    }

    #movie-info hr{
        width: 98%;
        height: 2px;
        border: 0px;
        background-color: #FF2C1F;
        }

    .title {

        color: #FF2C1F;
        font-family: Montserrat;
        font-style: normal;
        font-weight:  bold;
        font-size: 18px;
        line-height: 22px;

    }

    .text {

        color: #ffffff; 
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal !important;
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 40px;

    }

    #teatro{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 150px;
        margin-top: 80px;
    }

    #teatro hr{
        width: 98%;
        height: 3px;
        border: 0px;
        background-color: #FF2C1F;
        margin-bottom: 40px;
        }

    .title2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #FF2C1F;
        text-align: center;
    }

    #reservas{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;

    }

    #fecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        
    }

    #fecha div{
        margin-bottom: 10px;
    }

    #fecha figure{
        margin: 0;
        margin-bottom: 10px;
    }


    #horarios{
        width: 390px;
        height: 190px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .horario{
        width: 163px;
        height: 54px;
        background-color: #fff;
        border: none;
        color:  black;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;

    }

    .horario-selected{ 
        width: 163px;
        height: 54px;
        background-color: #FF2C1F;
        border: none;
        color: white;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;

        border: none;
        outline:none;
    }

    #canvas{
        height: 400px;
    }

    .button-compras {
        margin: auto;
        width: 264px;
        height: 58px;
        border: none;
        background: #FF2C1F;
        margin: auto;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
    }

    .button-compras:hover{
        background: rgb(224, 17, 6);

    }


    
    /* footer */
    footer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 250px;
    }
    
    #redes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .red{
        display: flex;
        flex-direction: row
    }
    .red div a{
        text-decoration: none;
    }
    
    .red div a :hover{

        color: #FF2C1F;
    }
    
    .info-footer-up{
        margin-bottom: 5px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    
        color: #fff;
    }
    .info-footer-down{
        margin-top: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
    
        color: #fff;
    }
    