body{
background-color: black;
}

/*header*/

header{

    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin-bottom: -50px;
}

hr{
width: 98%;
height: 2px;
border: 0px;
margin-bottom: 40px;
background-color: #FF2C1F;
}

header nav{
    width: 60%;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

header nav ul li{
   list-style-type: none;
    margin-left: 60px;

}

header nav ul  a{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color:#fff; 
    text-decoration:none;
 }

 header nav ul  a :hover{
    color: #FF2C1F;
    
 }

/* Imagen Logo */

#platinum-logo{
    cursor: pointer;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
}


/*   banner   */
 #top{
     margin-bottom: 50px;
 }

 #top-image{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 #top-text{
     width: 550px !important; 
     margin-top: -180px !important;
 }

 #top-image img{
     width: 100%;
   
 }

 @import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  line-height: 150px;
  font-weight: bold;
  color: #fff;
}

.flex-item img{
    margin-bottom: 20px;
}

.text-info{
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
}

.box-text{
    /* Cartelera */
margin-bottom: 15px;
padding-left: 3%;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 22px;
color: #FF2C1F;
}

/* footer */

footer{
    display: flex;
    flex-direction: row;
    height: 250px;
}



/* Codigo de Payan, no tocar, supuestamente funciona */


.right__btn {
    cursor: pointer;
}

.left__btn {
    cursor: pointer;
}


.tape__control {
    display: none;

}


.instruments__tape {
    overflow-x: hidden;
    transition: width 1s ease-out, left.3s ease-out;
    height: 75%;
    width: 100%;
    position: relative;
    left: 0px;
    display: flex;
    text-align: center;
    vertical-align: center;
    align-content: center;


}

.instruments {

    display: flex;
    flex-direction: column;
    margin: auto;

}

.instrument {

    width: 112px;
    height: 336px;
    margin: auto;


}

.instrument__link {

    color: black;
    text-decoration: none;
    margin-top: 35px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;

}

.instrument__link:hover {
    transition: color .3s ease-out, text-shadow .3s ease-out;
    color: #F25252;
    text-shadow: 0px 0px 2px #F25252;
}

/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/
/* medium screens */
@media (max-width: 1300px) {
    .instruments__tape {
        transition: width 1s ease-out, left.3s ease-out;
        width: 190%;
        left: 0px;
    }

    .tape__control {

        left: 3%;
        top: 1220px;
        position: absolute;
        width: 93vw;
        display: flex;
        justify-content: space-between;

    }

    .right__btn {
        transform: rotate(180deg);
    }

}

/*//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////*/
/* small screens */
@media (max-width: 800px) {
    .new__title {
        font-size: 16px;
    }

    .instruments__tape {

        width: 575%;
        margin-left: -0%;
    }

    .tape__control {
        top: 1020px;
        position: absolute;
        width: 90vw;
        display: flex;
        justify-content: space-between;

    }
}
